openapi: 3.0.0
info:
  contact:
    name: Ukpik API
    url: "https://jalgos.com/#contact"
    x-twitter: JalgosAI
  description: |
    # Introduction

    The Ukpik API server is [https://vision.ukpik.ai/v1](https://vision.ukpik.ai/v1).

    The Ukpik API is built on HTTP. Our API is RESTful. It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. You can use your favorite HTTP/REST library for your programming language to use Ukpik's API.

    Every action from our app is supported by an API which is documented and available for use so that you may automate any workflows necessary. This document contains the most commonly integrated resources.

    # Authentication

    To use an API you need the secret API key.
    Contact Jalgos [contact@jalgos.com](contact@jalgos.com) to ask your API key.
    You authenticate to the Ukpik API by providing your secret key in the request header.

    Never share your secret keys. Keep them guarded and secure.

    # Current limitations
      * Ukpik service does not support [cross origin headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS)
      for security reasons, therefore it is not possible to use Swagger UI and make API calls directly from browser.

    # Getting Started Guide

    Ukpik classifies videos asynchronously. The general flow is to send video to classification and receive the result by calling `/result` endpoint or using webhook.

    The `error` field should be zero for successful and non zero for errors.


    Last update: 2020-03-26
  termsOfService: "https://jalgos.com/"
  title: Ukpik API
  version: 1.0.0
  x-apisguru-categories:
    - vision
  x-preferred: true
  x-logo:
    url: https://raw.githubusercontent.com/jalgos/ukpik-api-docs/master/images/logo.png

servers:
  - url: https://vision.ukpik.ai/v1
    description: Ukpik Vision API v1 (production)

tags:
  - description: Classification endpoints
    name: Classification
  - description: System related endpoints
    name: System

paths:
  /version:
    get:
      tags:
        - System
      operationId: version
      summary: Current build version
      description: Returns current build version and node information for API service.
      responses:
        "200":
          description: A JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
              example:
                {
                  "tag": "8218",
                  "node": "ukpik-node1",
                  "pod": "pub-677656cfc9-7tqc2",
                  "build_at": "Wed Mar 25 10:28:17 UTC 2020",
                  "model": "prod.model.20191018004336.rds",
                  "namespace": "production",
                }

  /classify:
    post:
      tags:
        - Classification
      parameters:
        - $ref: "#/components/parameters/analyse_id"
      operationId: classify
      summary: Send video for classification
      description: Receives video, JSON metadata and send video to classification queue.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: "#/components/schemas/Metadata"
                video:
                  type: string
                  format: binary
            examples:
              metadata.json:
                externalValue: "https://raw.githubusercontent.com/jalgos/ukpik-api-docs/master/bin/metadata.json"
      responses:
        "200":
          description: A JSON object with information about received video status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
              example:
                {
                  "analyse_id": 2,
                  "accepted_at": "2020-03-26T18:37:52.07132+01:00",
                  "client_id": 134188,
                }

  /label:
    post:
      tags:
        - Classification
      parameters:
        - $ref: "#/components/parameters/analyse_id"
      operationId: label
      summary: Label classified video by operator
      description: Set operators' labels to video
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                labels:
                  $ref: "#/components/schemas/LabelsRequest"
            examples:
              labels.json:
                externalValue: "https://raw.githubusercontent.com/jalgos/ukpik-api-docs/master/bin/labels.json"
      responses:
        "200":
          description: A JSON object with information about updated labels
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabelsResponse"
              example:
                {
                  "analyse_id": 1254448,
                  "labels":
                    {
                      "op_qualification_1": "VN0000",
                      "op_qualification_2": "VN1001",
                    },
                  "labels_op": ["VN0000", "VN1001"],
                  "accepted_at": "2020-03-25T15:49:20.014554806Z",
                }

  /result:
    get:
      tags:
        - Classification
      parameters:
        - $ref: "#/components/parameters/analyse_id"
      operationId: result
      summary: Returns classification result
      description: Returns video classification result by analyse_id parameter
      security:
        - BearerAuth: []
      responses:
        "200":
          description: A JSON object with classification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
              example:
                {
                  "human_labels":
                    {
                      "op_qualification_1": "VN0000",
                      "op_qualification_2": "VN1001",
                    },
                  "score_details":
                    {
                      "p_NOTHING": 0.2359,
                      "p_animal": 0.0888,
                      "p_flag": 0.0485,
                      "p_intrusion": 0.5037,
                      "p_person": 0.7994,
                      "p_plant": 0.0256,
                      "p_rain": 0.0262,
                      "p_spider": 0.0485,
                      "p_text": 0.64,
                      "p_vehicule": 0.188,
                      "p_web": 0.0212,
                      "p_wind": 0.0182,
                    },
                  "jalgos_received": 1585146836.5311,
                  "analyse_id": 1254448,
                  "error_code": 0,
                  "error_msg": "",
                  "status_classification": "success",
                  "done_classif_ts": 1585146890.5978,
                  "jalgos_classified": "2020-03-25T14:34:50.597800016Z",
                  "label": "Not classified"
                }

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
  parameters:
    analyse_id:
      in: path
      name: analyse_id
      schema:
        type: integer
      required: true
      description: Numeric ID of the video analyse
  schemas:
    Version:
      type: object
      properties:
        tag:
          type: string
          description: Build number from CI/CD
        node:
          type: string
          description: The service instance node in the cluster
        pod:
          type: string
          description: Kubernetes pod name
        build_at:
          type: string
          description: Indicates when service was built
        model:
          type: string
          description: Indicates the ML/AI model version
        namespace:
          type: string
          description: Kubernetes namespace

    LabelsRequest:
      type: object
      required:
        - op_qualification_1
      properties:
        op_qualification_1:
          type: string
        op_qualification_2:
          type: string
        op_qualification_3:
          type: string
        op_qualification_4:
          type: string

    LabelsResponse:
      type: object
      properties:
        analyse_id:
          type: number
        labels_op:
          type: array
          items:
            type: string

    Result:
      type: object
      properties:
        human_labels:
          $ref: "#/components/schemas/LabelsRequest"
        score_details:
          type: object
          description: Classification details in terms of probability from 0 to 1
        analyse_id:
          type: number
          description: Numeric ID of the video analyse
        jalgos_received:
          type: number
          description: Unix timestamp when video recieved by Ukpik API
        error_code:
          type: number
          description: Zero means successful result
        error_msg:
          type: string
          description: If error code is not zero contains error description
        status_classification:
          type: string
        done_classif_ts:
          type: number
          description: Unix timestamp when Ukpik finished classification process
        jalgos_classified:
          type: string
          format: data-time
        label:
          type: string
          description: Classification result label

    Metadata:
      type: object
      description: Metadata is an optional JSON that could be attached to request
      properties:
        client_id:
          type: number
        no_trans:
          type: string
        parc_origine:
          type: string
        date_recep:
          type: string
          format: "16-jan-2020 10:09:57"
        code_msg:
          type: string
        date_start_analyse:
          type: string
          format: data-time
