openapi: 3.0.0
info:
  contact:
    name: Gaard API
    url: "https://gaard.ai/"
    x-twitter: JalgosAI
  description: |
    # Introduction

    Welcome to the Gaard API, a state-of-the-art interface designed to provide access to our advanced computer vision solutions for telesurveillance. Access the server at [https://vision.gaard.ai](https://vision.gaard.ai).

    Gaard API is built upon RESTful principles, providing intuitive and predictable resource URLs. It employs HTTP response codes for indicating errors and supports JSON in HTTP body for requests and responses. Regardless of your preferred programming language, you can effortlessly interface with our API using any HTTP/REST library.

    Our API fully supports all the functionalities provided by the Gaard application. This means every action possible within our app can be automated via the API, making your workflow integration seamless. This document will guide you through the most frequently used resources.

    To ensure secure access, Gaard utilizes API keys. Remember, your API keys are confidential. Please do not share them and keep them secure.

    Last update: 2024-05-15

  termsOfService: "https://gaard.ai/cgv"
  title: Gaard API
  version: 2.0.20186
  x-apisguru-categories:
    - vision
  x-preferred: true
  x-logo:
    url: https://raw.githubusercontent.com/jalgos/gaard-api-docs/master/images/logo.png

servers:
  - url: https://vision.gaard.ai
    description: Gaard API v2 (production)

tags:
  - description: Classification of analysis results
    name: Classification
  - description: Auth system endpoints
    name: Auth
  - description: System related endpoints
    name: System

paths:
  /:
    get:
      tags:
        - System
      operationId: version
      summary: Current build version
      description: Returns current build version and node information for API service.
      responses:
        "200":
          description: A JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
              example:
                {
                  "tag": "8218",
                  "node": "gaard-node1",
                  "pod": "pub-677656cfc9-7tqc2",
                  "build_at": "Wed Mar 25 10:28:17 UTC 2020",
                  "model": "prod.model.20191018004336.rds",
                  "namespace": "production",
                }
  /version:
    get:
      tags:
        - System
      operationId: versionId
      summary: Current build version
      description: Returns current build version and node information for API service.
      responses:
        "200":
          description: A JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
              example:
                {
                  "tag": "8218",
                  "node": "gaard-node1",
                  "pod": "pub-677656cfc9-7tqc2",
                  "build_at": "Wed Mar 25 10:28:17 UTC 2020",
                  "model": "prod.model.20191018004336.rds",
                  "namespace": "production",
                }

  /classify:
    post:
      security:
        - bearerAuth: []
      tags:
        - Classification
      summary: Classify a video
      description: Upload a video and its metadata for classification
      operationId: classifyVideo
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video:
                  type: string
                  format: binary
                  description: Video file to be classified
                metadata:
                  type: string
                  format: binary
                  description: Metadata file in JSON format
                  example: >
                    {
                      "client_id": 134188,
                      "camera_id": "VI01",
                    }
        required: true
      responses:
        '200':
          description: A JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifyResult"
              example: >
                {
                  "id": "66448cfd56039e2eb7701009",
                  "parentId": "000000000000000000000000",
                  "cameraId": "134188-VI01",
                  "analyse_id": 1134915906,
                  "tenant": "demo",
                  "duration": 3042056,
                  "duration_seconds": 3,
                  "model": "noname",
                  "version": "2.0.16123",
                  "error_code": 0,
                  "risk": "intrusion",
                  "labels": [
                    "intrusion",
                    "person"
                  ],
                  "scores": {
                    "spider": 0.006814155539197582,
                    "animal": 0.03490323977691366,
                    "plant": 0.029940119760479042,
                    "vehicule": 0.10077824836276382,
                    "text": 0.0006343906582260771,
                    "web": 0.008982035928143716,
                    "rain": 0.0018018018018018014,
                    "wind": 0.02095808383233533,
                    "NOTHING": 0.0004909645916406409,
                    "flag": 0.04917147676228464,
                    "intrusion": 0.9730538922155688,
                    "other": 0.028108597054560112,
                    "person": 0.9730538922155688
                  },
                  "video": {
                    "videoname": "video.mov",
                    "filesize": 786800,
                    "specs": {
                      "duration": 4.217772,
                      "fps": 3.082196003008223,
                      "original.nframes": 12,
                      "original.width": 640,
                      "height": 320,
                      "nframes": 13,
                      "original.fps": 3,
                      "original.height": 360,
                      "width": 568
                    }
                  },
                  "timing": {
                    "traj.TRF": 4.809535,
                    "nb.trf.threads": 1,
                    "pack.results": 0.00066,
                    "nb.ukpik.threads": 1,
                    "obj.TRF": 16.492315,
                    "cluster": 106.054095,
                    "get.background": 202.652742,
                    "total": 2663.311597,
                    "tracking": 0.129971,
                    "traj.agg": 1.409457,
                    "pack.shape.features": 0.082241,
                    "sub.cluster": 10.086482,
                    "curv": 117.828385,
                    "glob.agg": 0.02619,
                    "pack.traj.features": 0.923235,
                    "video.TRF": 1.93995,
                    "add.obj.classif": 0.190931,
                    "background.sub": 2200.683568
                  },
                  "metadata": {
                    "camera_id": "VI01",
                    "client_id": "134188"
                  },
                  "created_at": "2024-05-15T12:22:54.032628557+02:00",
                  "started_at": "2024-05-15T12:22:54.032628727+02:00"
                }

        "500":
          description: Server side error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"

  /result/{classify_id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - Classification
      parameters:
        - in: path
          name: classify_id
          schema:
            type: string
          required: true
          description: Numeric ID of the classification result
      operationId: getResult
      summary: Get classification result by classify_id
      responses:
        "200":
          description: A JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifyResult"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Version:
      type: object
      properties:
        tag:
          type: string
          description: Build number from CI/CD
        node:
          type: string
          description: The service instance node in the cluster
        pod:
          type: string
          description: Kubernetes pod name
        build_at:
          type: string
          description: Indicates when service was built
        model:
          type: string
          description: Indicates the ML/AI model version
        namespace:
          type: string
          description: Kubernetes namespace
    GenericError:
      type: object
      example: { "success": false, "error": "" }
      properties:
        success:
          type: boolean
          description: State of operation
        error:
          type: string
          description: Error message
    ClassifyResult:
      type: object
      description: ClassifyResult is a type structure used in the response of the endpoint `/classify?sync=true`.
      properties:
        id:
          type: string
          description: The unique identifier of the result object.
          example: "66448cfd56039e2eb7701009"
        parentId:
          type: string
          description: The unique identifier of the parent object.
          example: "000000000000000000000000"
        cameraId:
          type: string
          description: The unique identifier of the camera.
          example: "134188-VI01"
        analyse_id:
          type: integer
          description: The identifier of the analysis.
          example: 1134915906
        tenant:
          type: string
          description: The identifier of the tenant.
          example: "demo"
        duration:
          type: integer
          description: The duration of the video in milliseconds.
          example: 3042056
        duration_seconds:
          type: integer
          description: The duration of the video in seconds.
          example: 3
        model:
          type: string
          description: The model used for the analysis.
          example: "noname"
        version:
          type: string
          description: The version of the model used for the analysis.
          example: "2.0.16123"
        error_code:
          type: integer
          description: Code indicating the error, if any.
          example: 0
        risk:
          type: string
          description: The risk determined by the analysis.
          example: "intrusion"
        labels:
          type: array
          description: The labels determined by the analysis.
          items:
            type: string
          example: ["intrusion", "person"]
        scores:
          type: object
          description: The scores for each label.
          properties:
            spider:
              type: number
              format: float
              example: 0.006814155539197582
            animal:
              type: number
              format: float
              example: 0.03490323977691366
            plant:
              type: number
              format: float
              example: 0.029940119760479042
            vehicule:
              type: number
              format: float
              example: 0.10077824836276382
            text:
              type: number
              format: float
              example: 0.0006343906582260771
            web:
              type: number
              format: float
              example: 0.008982035928143716
            rain:
              type: number
              format: float
              example: 0.0018018018018018014
            wind:
              type: number
              format: float
              example: 0.02095808383233533
            NOTHING:
              type: number
              format: float
              example: 0.0004909645916406409
            flag:
              type: number
              format: float
              example: 0.04917147676228464
            intrusion:
              type: number
              format: float
              example: 0.9730538922155688
            other:
              type: number
              format: float
              example: 0.028108597054560112
            person:
              type: number
              format: float
              example: 0.9730538922155688
        video:
          type: object
          description: Details of the video.
          properties:
            videoname:
              type: string
              description: The name of the video file.
              example: "video.mov"
            filesize:
              type: integer
              description: The size of the video file in bytes.
              example: 786800
            specs:
              type: object
              description: Specifications of the video.
              properties:
                duration:
                  type: number
                  format: float
                  description: The duration of the video.
                  example: 4.217772
                fps:
                  type: number
                  format: float
                  description: Frames per second of the video.
                  example: 3.082196003008223
                original.nframes:
                  type: integer
                  description: The original number of frames in the video.
                  example: 12
                original.width:
                  type: integer
                  description: The original width of the video in pixels.
                  example: 640
                height:
                  type: integer
                  description: The height of the video in pixels.
                  example: 320
                nframes:
                  type: integer
                  description: The number of frames in the video.
                  example: 13
                original.fps:
                  type: number
                  format: float
                  description: The original frames per second of the video.
                  example: 3
                original.height:
                  type: integer
                  description: The original height of the video in pixels.
                  example: 360
                width:
                  type: integer
                  description: The width of the video in pixels.
                  example: 568
        timing:
          type: object
          description: Timing details of the analysis.
          properties:
            traj.TRF:
              type: number
              format: float
              example: 4.809535
            nb.trf.threads:
              type: integer
              example: 1
            pack.results:
              type: number
              format: float
              example: 0.00066
            nb.ukpik.threads:
              type: integer
              example: 1
            obj.TRF:
              type: number
              format: float
              example: 16.492315
            cluster:
              type: number
              format: float
              example: 106.054095
            get.background:
              type: number
              format: float
              example: 202.652742
            total:
              type: number
              format: float
              example: 2663.311597
            tracking:
              type: number
              format: float
              example: 0.129971
            traj.agg:
              type: number
              format: float
              example: 1.409457
            pack.shape.features:
              type: number
              format: float
              example: 0.082241
            sub.cluster:
              type: number
              format: float
              example: 10.086482
            curv:
              type: number
              format: float
              example: 117.828385
            glob.agg:
              type: number
              format: float
              example: 0.02619
            pack.traj.features:
              type: number
              format: float
              example: 0.923235
            video.TRF:
              type: number
              format: float
              example: 1.93995
            add.obj.classif:
              type: number
              format: float
              example: 0.190931
            background.sub:
              type: number
              format: float
              example: 2200.683568
        metadata:
          type: object
          description: Additional optional data.
          properties:
            camera_id:
              type: string
              description: The unique identifier of the camera.
              example: "VI01"
            client_id:
              type: string
              description: The unique identifier of the client.
              example: "134188"
        created_at:
          type: string
          format: date-time
          description: The timestamp when the analysis was created.
          example: "2024-05-15T12:22:54.032628557+02:00"
        started_at:
          type: string
          format: date-time
          description: The timestamp when the analysis started.
          example: "2024-05-15T12:22:54.032628727+02:00"

